/* Fonts */

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSans.woff2");
  src: url("../fonts/PTSans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSans-Bold.woff2");
  src: url("../fonts/PTSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --black: #000000;
  --light-black: #333333;
  --extra-light-black: #666666;
  --white: #FFFFFF;
  --blue: #81B3D2;
  --gray: #A9A9A9;
  --light-gray: #EEEEEE;
  --extra-light-gray: #F2F2F2;
  --brown: #766357;
  --gray-bg: #f2f2f2;
  --alternative-gray: #CACACA;
  --blue-hover: #669EC0;
  --blue-active: #5496BD;
  --brown-hover: #604E43;
  --brown-active: #503E33;
}

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  height: 100%;
  background-color: var(--gray-bg);
}

.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.page {
  height: 100%;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.title-h3 {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--black);
  text-align: center;
}

.title-h4 {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.p_text {
  text-transform: uppercase;
}

/* Main navigation */

.main {
  background-color: var(--white);
}

.main-header .main-header-logo:hover {
  opacity: .85;
}

.main-navigation {
  display: flex;
  margin-bottom: -14px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0 72px;
  width: 531px;
  list-style: none;
}

.site-navigation:first-child .site-navigation__item:first-child {
  text-align: left;
}

.site-navigation:last-child .site-navigation__item:last-child {
  text-align: right;
}

.site-navigation:last-child {
  justify-content: flex-end;
}

.site-navigation__item {
  width: 182px;
  text-align: center;
  padding-top: 14px;
}

.site-navigation__item a:hover, .site-navigation__item a:focus {
  color: var(--blue);
}

.site-navigation__item a:active {
  color: var(--black);
  opacity: 0.3;
}

.main-header-logo {
  justify-self: center;
  width: 138px;
  height: 70px;
}

.main-header {
  background-color: var(--white);
  z-index: 1;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 700;
}

.site-navigation__item .active {
  color: var(--brown);
}

/* Preview */

.preview-img {
  background-image: url(../img/background-photo-index.jpg);
  background-repeat: no-repeat;
  padding-top: 76px;
  background-color: lavender;
}

.preview-img img {
  display: block;
  margin: 0 auto;
}

.preview-img::after {
  content: "";
  background-image: url(../img/shapee.svg);
  height: 57px;
  width: 1200px;
  display: block;
  margin-top: 24px;
}

.preview-text {
  background-color: var(--white);
}

.preview-text_title {
  width: 470px;
  line-height: 27px;
  margin: 0 auto;
  padding-top: 41px;
}

.preview-text_text {
  padding-top: 45px;
  padding-bottom: 53px;
  width: 519px;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  color: var(--light-black);
}

/* Description */

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.description-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--white)
}

.search-form-block__wrapper--children {
  padding-top: 4px;
  padding-bottom: 2px;
}

.description-item {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray);
}

.description-item-block {
  color: var(--white);
  background-color: var(--blue);
  font-size: 14px;
  line-height: 21px;
  width: 33.33%;
  text-align: center;
}

.description-item-block__title {
  margin-top: 47px;
  margin-bottom: 26px;
  color: var(--white);
}

.description-item-block__text {
  margin-top: 25px;
  min-height: 81px;
}

.description-item-block_img {
  line-height: 0%;
  background-color: lavender;
}

.description-list-list-two {
  background-color: #EEEEEE;
}

.feature-list {
  list-style: none;
  padding: 0;
  display: flex;
  background-color: var(--white);
}

.feature-item {
  text-align: center;
  width: 400px;
}

.feature-item::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
}

.feature-item--house::before {
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-1.svg);
  top: 1096px;
}

.feature-item--burger::before {
  width: 75px;
  height: 70px;
  background-image: url(../img/icon-3.svg);
  top: 1097px;
}

.feature-item--present::before {
  width: 64px;
  height: 77px;
  background-image: url(../img/icon-2.svg);
  top: 1091px;
}

.feature-item__title {
  max-width: 240px;
  margin: 160px auto 25px;
}

.feature-item__text {
  padding: 0 40px;
  min-height: 110px;
}

.description-list-profit {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-item-block.profit {
  background-color: var(--light-gray);
  color: var(--black);
  padding-top: 25px;
}

.description-item-block-title.profit {
  background-color: var(--light-gray);
  color: var(--black);
  padding-bottom: 5px;
}

/* Parametrs */

.block-search {
  position: relative;
  display: grid;
  text-align: center;
  background-color: var(--white);
}




.block-search__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  margin: 56px auto 21px;
}

.block-search__text {
  line-height: 24px;
}

.button-search {
  color: var(--white);
  background-color: var(--brown);
  text-transform: uppercase;
  width: 568px;
  padding: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  outline: none;
}

.button-search--active:active {
  opacity: .3;
}

.button-search:hover, .button-search:focus {
  background-color: var(--brown-hover);
}

.button-search:active {
  background-color: #503E33;
}

.button-search:active span {
  opacity: 0.3;
}

.map {
  position: relative;
  ;
}

.map iframe {
  border: 0;
}

/* Footer */

.main-footer {
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 35px;
  z-index: 1;
}

.main-footer--index {
  margin-top: -126px;
}

.footer-contacts {
  width: 33.33%;
  padding-top: 22px;
  padding-left: 72px;
}

.footer-contacts span {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.footer-contacts .contacts-phone {
  display: block;
  text-align: center;
  font-weight: bold;
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
  margin-top: 9px;
  text-transform: uppercase;
}

.footer-social {
  width: 33.33%;
  padding-top: 36px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 6px;
}

.social-button, .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  color: inherit;
  outline: none;
}

.social-button:hover, .social-button:focus, .search-button:hover, .search-button:focus {
  background-color: var(--blue-hover);
}

.social-button:active, .search-button:active {
  background-color: var(--blue-active);
}

.search-button:active span, .social-button:active svg {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  width: 33.33%;
  padding-top: 38px;
}

.footer-copyright__text {
  padding-left: 65px;
  margin: 0;
  padding-top: 12px;
}

.footer-copyright-button {
  margin-left: 8px;
}

.footer-copyright-button:hover path, .footer-copyright-button:focus path {
  fill: var(--blue);
}

.footer-copyright-button:active path {
  fill: #231F20;
  opacity: 0.3;
}

.search-form__btn-wrapper {
  margin: 29px auto 0px;
}


.search-form {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 1;
}

.search-form__wrapper {
  display: flex;
  width: 568px;
  height: max-content;
  background-color: var(--white);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  transition: transform 1s ease;
  z-index: -11;
}

.search-form--hidden {
  z-index: -1;
}

.search-form--hidden .search-form__wrapper {
  transform: translateY(-100%);
}

.search-form .search-form-block {
  padding: 55px;
}

.search-form-block__wrapper {
  display: inline-flex;
  position: relative;
  margin-bottom: 29px;
}

.search-form-block__wrapper .adult {
  display: flex;
  position: relative;
  margin-right: 6px;
}

.search-form-block__wrapper .children {
  display: flex;
  position: relative;
}

.adult .search-adult, .children .search-children {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 6px;
  outline: none;
}

.search-form-block__wrapper button {
  position: absolute;
  top: 6px;
  right: 9px;
  width: 21px;
  height: 23px;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
}

.adult .button--minus, .ch .button--minus {
  top: 4px;
}

.search-form-block__wrapper button:hover path {
  fill: var(--black);
}

.search-form-block__wrapper button:hover rect {
  fill: var(--black);
}

.search-form-block__wrapper button:active path {
  fill: var(--blue);
}

.search-form-block__wrapper button:active rect {
  fill: var(--blue);
}

.adult .minus, .children .minus {
  position: absolute;
  top: 4px;
  right: 85px;
  outline: none;
}

.search-label {
  text-align: initial;
  margin-top: 7px;
}

.adult .plus, .children .plus {
  position: absolute;
  top: 11px;
  right: 9px;
  outline: none;
}

.search-form-block label {
  display: inline-flex;
  width: 100px;
  margin-right: 12px;
  margin-top: 4px;
}

.children .button--plus {
  top: 8px;
}

.children label {
  padding-left: 47px;
}

.search-button {
  width: 458px;
  height: 100%;
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 25px;
}

input.search-date-in, input.search-date-out {
  display: inline-flex;
  width: 346px;
  background-color: var(--extra-light-gray);
  border: 2px solid transparent;
  padding: 2px 7px 5px 10px;
  outline: none;
}

input.search-date-in:hover, input.search-date-out:hover {
  background-color: #EBEBEB;
}

input.search-date-in:focus, input.search-date-out:focus {
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  border: 2px solid #E5E5E5;
}

input.search-adult, input.search-children {
  display: inline-flex;
  width: 114px;
  background-color: var(--extra-light-gray);
  border: none;
  padding: 0;
}

.adult .button--plus {
  top: 8px;
}

.adult .search-label {
  text-align: initial;
}

.text {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

/* catalog */

.parametrs {
  background-image: url(../img/background-photo-catalog.jpg);
  background-repeat: no-repeat;
}

.parametrs-form {
  display: flex;
}

.parametrs-form__container {
  display: flex;
  margin: 26px;
  margin-bottom: 18px;
}

.fieldset {
  min-width: 198px;
  margin: 0 10px;
  padding: 0;
  color: var(--white);
  text-transform: uppercase;
  border: none;
  margin-left: 46px;
}

.parametrs-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.parametrs-form__container ul {
  list-style: none;
}

.parametrs-type-list .type-item {
  padding-left: 2px;
}

.parametrs-type-list label {
  cursor: pointer;
}

.infrastructure-item label, .type-item {
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: 25px;
}

.filter-input-checkbox:not(:checked)+label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--white);
  border-radius: 13%;
}

.filter-input-checkbox:not(:checked):disabled+label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid #6a6a6a;
  border-radius: 13%;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(..//img/checkbox-on.svg);
}

.filter-input-checkbox:checked:disabled+label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(..//img/checkbox-disabled.svg);
}

.parametrs-form__container-cost {
  margin: 26px 73px auto auto;
}

.filter-cost {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-cost legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white);
}

.range-cost {
  width: 317px;
  margin-top: 11px;
}

.range-cost .range-price {
  display: flex;
  height: 37px;
  border: 2px solid var(--white);
  border-radius: 2px;
}

.range-price label {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  text-transform: uppercase;
}

.range-price .min-price {
  width: 58px;
  height: 21px;
}

.range-price__min-price {
  padding: 4px 15px 25px 64px;
}

.range-price__max-price {
  padding: 4px 0px 0px 52px;
}

.range-price input {
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  color: inherit;
}

.range-price .separator {
  width: 2px;
  height: 22px;
  margin-top: 7px;
  margin-bottom: 7px;
  background: var(--white);
}

.min-price input {
  width: 58px;
}

.max-price input {
  width: 83px;
}

.range-controls {
  position: relative;
  width: 316px;
  height: 44px;
  padding-top: 19px;
  padding-left: 15px;
}

.range-controls .scale {
  height: 2px;
  background: gray;
}

.range-controls .bar {
  width: 82%;
  height: 2px;
  background: var(--white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 gray;
  cursor: pointer;
}

.range-controls .toggle:hover {
  transform: scale(1.2);
}

.range-controls .toggle-max {
  left: 252px;
}

.parametrs-form__container-cost__button {
  margin: 10px auto auto 85px;
  color: white;
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  background: none;
  border: 2px solid;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
}

.parametrs-form__container-cost__button:hover, .parametrs-form__container-cost__button:focus {
  color: var(--black);
  background-color: var(--white);
  border: none;
}

.result-block {
  background-color: var(--white);
}

.result-block-sorting {
  display: flex;
  position: relative;
  padding: 29px 73px 22px;
  border-bottom: 1px solid #E5E5E5;
}

.result-block-sorting__text {
  width: 153px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.result-block-sorting__span {
  width: 125px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 10px;
}

.result-block-sorting__list {
  list-style: none;
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.result-block-sorting__item {
  width: 76px;
  margin-right: 5px;
}

.arrow-up {
  margin-left: auto;
}

.arrow-down {
  margin-left: 6px;
}

.no-item svg path:hover {
  fill: var(--black);
  cursor: pointer;
}

.no-item svg path:active {
  fill: var(--blue);
  cursor: pointer;
}

.no-item button {
  outline: none;
}

.result-block-sorting__item .exile {
  color: #b3b3b3;
  text-transform: uppercase;
  margin-left: 0;
  font-size: 12px;
  border-bottom: 1px dashed #81B3D2;
}

.result-block-sorting__item .active {
  color: var(--blue);
  border-bottom: none;
}

.result-block-sorting__item .exile:hover, .result-block-sorting__item .exile:focus {
  color: var(--blue);
}

.result-block-sorting__item .exile:active {
  color: var(--black);
  border-bottom: none
}

.no-item {
  height: 36px;
}

.no-item__button {
  width: 17px;
  height: 11px;
  margin: 0;
  padding-top: 8px;
  background-color: var(--white);
  border: none;
  background-repeat: no-repeat;
}

.result-block__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.result-block__item {
  padding: 29px 71px 31px 73px;
  display: flex;
  border-bottom: 1px solid #E5E5E5;
}

.result-block__item__block-description {
  margin: 0;
  min-width: max-content;
}

.result-block__item__block-rating {
  width: 111px;
  margin-left: auto;
}

.result-block__item img {
  object-fit: contain;
  height: min-content;
  margin-right: 29px;
  background-color: lavender;
}

.result-block__item__block-description-title {
  text-align: left;
  margin: -4px 0 10px 0;
}

.result-block__item__block-description-title:hover {
  color: var(--blue);
}

.result-block__item__block-description-title:active {
  color: #000000;
  opacity: 0.3;
}

.result-block__item__block-rating__star__text {
  margin: 47px 0 -8px;
  background-color: #F2F2F2;
  color: #666666;
  padding: 3px 14px;
}

.table__text {
  width: 230px;
  border-spacing: 0;
}

.table__text td {
  width: 50%;
  vertical-align: top;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.rightcol {
  text-align: left;
}

.button-result-block {
  font: inherit;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  margin-top: 17px;
  padding: 3px 17px;
  font-weight: bold;
  margin-right: 2px;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}

.button-result-block {
  background-color: var(--blue);
}

.button-result-block:hover {
  background-color: #669EC0;
}

.button-result-block:active {
  background-color: #5496BD;
}

.button-result-block:active span {
  opacity: 0.3;
}

.button-result-block:last-child {
  background-color: var(--brown);
}

.button-result-block:last-child:hover {
  background-color: #604E43;
}

.button-result-block:last-child:active {
  background-color: #503E33;
}

.button-result-block:last-child:active span {
  opacity: 0.3;
}

.result-block__item__block-rating__star {
  width: 91px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
  margin: -1px 0 0 auto;
}

.result-block__motel .result-block__item__block-rating__star {
  width: 66px;
}

.result-block__apart .result-block__item__block-rating__star {
  width: 42px;
}
